.schulden-planen-dialog-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.57);
  position: fixed;
  top: 0;
  left: 0;
}

.schulden-planen-dialog {
  position: relative;
  top: 120px;
  left: 20px;
  padding: 15px 10px 10px 10px;
  height: calc(100vh - 250px);
  width: calc(100vw - 60px);
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #67a4cd !important;
}

.schulden-planen-dialog__add-button {
  margin-left: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #29508a;
  box-shadow: #474747 1px 1px 2px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.schulden-planen-dialog__add-button:hover {
  font-size: 40px;
}

.schulden-planen-dialog__list-wrapper {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.schulden-planen-dialog__list {
  width: 100%;
  flex-grow: 1;
}

.schulden-planen-dialog__bottom-wrapper {
  display: flex;
  align-items: center;
}

.schulden-planen-dialog__summe-wrapper {
  flex-grow: 1;
  height: 70px;
  width: 10px;
  border-radius: 10px;
  font-size: 23px;
  display: flex;
  align-items: center;
}

.schulden-planen-dialog__summe-label {
  margin: 0 10px;
}

.schulden-planen-dialog__summe-data {

}

.schulden-planen-dialog__spacer {
  width: 100%;
  height: 10px;
  flex-grow: 1
}

.schulden-planen-dialog__keine-eintraege {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgrey;
  flex-grow: 1;
}

.schulden-planen-dialog__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.schulden-planen-dialog__button {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 40%;
  border-radius: 10px;
  background-color: #cccccc;
}

.schulden-planen-dialog__grayed-out {
  background-color: #e3e3e3 !important;
  color: #939393 !important;
}

.schulden-planen-dialog__top {
  display: flex;
  padding: 5px 10px 15px 10px;
  wídth: calc(100% - 20px);
  align-items: center;
  font-size: 30px;
}

.schulden-planen-dialog__top-label {
  margin-right: 20px;
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.schulden-planen-dialog__top-betrag {
  font-weight: bold;
  width: fit-content;
}
