.budget__element-wrapper {
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding: 10px;
}

.budget__hr {
  border: none;
  height: 2px;
  background-color: #404040;
}

.budget__month-select {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #c1c1c1;
}

.budget__month-left, .budget__month-right {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.budget__month-left {
  border-right: 1px solid black;
}

.budget__month-center {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 25px;
}

.budget__month-right {
  border-left: 1px solid black;
}

.lock-image {
  height: 17px;
  width: 17px;
  margin-bottom: -2px;
}

.budget__fixkosten-chevron {
  height: 17px;
  width: 17px;
  margin-bottom: -2px;
  margin-left: -3px;
  margin-right: -3px;
}

.budget__element-label-fixkosten {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.budget__element-label-fixkosten-text {
  margin-left: 4px;
}

.budget__element-wrapper-fixkosten {
  display: flex;
  width: calc(100% - 6px);
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  margin-left: -4px;
}

.budget__fixkosten-details-hidden {
  height: 0;
  width: 100%;
}

.budget__fixkosten-details {
  height: fit-content;
  width: 100%;
}

.budget__fixkosten-detail-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.darker-text {
  color: #636363 !important;
}
