<div class="create-eintrag">
  <div class="create-eintrag__back-button-wrapper">
    <img src="assets/arrow-back.png" class="create-eintrag__back-button" (click)="onBackClicked()" alt="<-">
    <div class="create-eintrag__budget">
      <div class="ce__budget-eintrag">
        monat: <b class="green" [class.red]="this.dayBudget().monthIstBudget !== undefined && dayBudget().monthIstBudget! < 0">{{ dayBudget().monthIstBudget ?? '???' }}€</b>
      </div>
      <div class="ce__budget-eintrag">
        woche: <b class="green" [class.red]="this.dayBudget().weekIstBudget !== undefined && dayBudget().weekIstBudget! < 0">{{ dayBudget().weekIstBudget ?? '???' }}€</b>
      </div>
      <div class="ce__budget-eintrag">
        tag: <b class="green" [class.red]="this.dayBudget().dayIstBudget !== undefined && dayBudget().dayIstBudget! < 0">{{dayBudget().dayIstBudget ?? '???' }}€</b>
      </div>
    </div>
    <div class="create-eintrag__top-spacer" (click)="onBackClicked()">

    </div>
  </div>
  @if (buchung() !== undefined) {
    <div class="create-eintrag__content">
      <div class="create-eintrag__top-content">
        <input type="text" [(ngModel)]="buchung()!.title" class="create-eintrag__title" autofocus placeholder="Titel" (change)="onTitleChanged()">
        <hr class="hr-title">
        <div class="create-eintrag__betrag">
          <div class="create-eintrag__betrag-warnung" *ngIf="showBetragWarning">
            der Betrag darf nicht 0 betragen!
          </div>
          <div class="create-eintrag__betrag-wrapper">
            <div class="create-eintrag__label">
              Betrag:
            </div>
            <input type="number" [(ngModel)]="buchung()!.betrag" class="create-eintrag__data" placeholder="0.00€" (change)="onBetragChanged()">
          </div>
        </div>

        <div class="create-eintrag__datum-wrapper">
          <div class="create-eintrag__label">
            Datum:
          </div>
          <input type="date" [(ngModel)]="date" (change)="onDateChange()" class="create-eintrag__data">
        </div>
        <div class="create-eintrag__uhrzeit-wrapper">
          <div class="create-eintrag__label">
            Uhrzeit:
          </div>
          <input type="time" [(ngModel)]="buchung()!.time" (change)="onTimeChange($event)" class="create-eintrag__data">
        </div>
        <hr class="hr">
        <div class="create-eintrag__beschreibung-wrapper">
          <div class="create-eintrag__label create-eintrag__beschreibung-label">
            Beschreibung:
          </div>
          <textarea [(ngModel)]="buchung()!.beschreibung"
                    class="create-eintrag__data create-eintrag__beschreibung-data" (change)="onBeschreibungChanged()">

        </textarea>
        </div>
      </div>
      <div class="create-eintrag__spacer-bottom">

      </div>

      <div class="create-eintrag__buttons-wrapper">
        <div class="create-eintrag__button" (click)="onCancelClicked()">
          abbrechen
        </div>
        <div class="create-eintrag__button" [class.disabled]="saveButtonDisabled()" (click)="onSaveClicked()">
          speichern
        </div>
      </div>

    </div>
  } @else {
    <div class="edit-eintrag__no-eintrag">
      Error: No Eintrag provided!
    </div>
  }
</div>
