<div class="sparschwein-listelem floating-box" [class.darker]="eintrag.isMonatEintrag">
  <div class="sparschwein-listelem__left">
    <div class="sparschwein-listelem__betrag green" [class.red]="eintrag.betrag < 0">
      <b>{{eintrag.betrag}}€</b>
    </div>
    <div class="sparschwein-listelem__text-wrapper">
      <div class="sparschwein-listelem__title">
        <b>{{ getTitle() }}</b>
      </div>
    </div>
  </div>
  <div class="sparschwein-listelem__right">
    <div class="sparschwein-listelem__beschreibung" *ngIf="!eintrag.isMonatEintrag" (click)="onMenuClicked()">
      ...
    </div>
  </div>
  <div class="fix-kosten__eintrag-menu" *ngIf="showMenu()">
    <div class="fix-kosten__eintrag-menu-element" (click)="onBearbeitenClicked()">
      bearbeiten
    </div>
    <hr class="hr">
    <div class="fix-kosten__eintrag-menu-element" (click)="onLoeschenClicked()">
      löschen
    </div>
  </div>
</div>
