<div class="register">
  <div class="register__logo-wrapper">
    <img src="assets/favicon.jpg" class="register__logo">
  </div>
  <div class="register__error-message">
    {{errorMessage}}
  </div>
  <div class="register__data-input-wrapper">
    <div class="register__data-input-element-wrapper">
      <div class="register__data-input-label">
        Email-Adresse
      </div>
      <input type="email" [class.register__input-red]="isEmailRed"  [class.register__grayed-out]="isLoading" placeholder="email" class="register__data-input-element" [(ngModel)]="email" (ngModelChange)="onEmailChange()">
    </div>
    <div class="register__data-input-element-wrapper">
      <div class="register__data-input-label">
        Passwort
      </div>
      <input type="password" [class.register__input-red]="isPw1Red"  [class.register__grayed-out]="isLoading" placeholder="passwort" class="register__data-input-element" [(ngModel)]="pw1" (ngModelChange)="onPw1Change()">
    </div>
    <div class="register__data-input-element-wrapper">
      <div class="register__data-input-label">
        Passwort wiederholen
      </div>
      <input type="password" [class.register__input-red]="isPw2Red"  [class.register__grayed-out]="isLoading" placeholder="passwort" class="register__data-input-element" [(ngModel)]="pw2" (ngModelChange)="onPw2Change()">
    </div>
  </div>
  <div class="register__buttons-wrapper">
    <div class="register__button" (click)="onRegisterClicked()" [class.register__button-grayed-out]="isLoading">
      registrieren
    </div>
    <div class="register__back-text" (click)="onToLoginClicked()">
      zurück
    </div>
  </div>
</div>
