<div class="budget-wrapper">
  <app-top-bar></app-top-bar>
  <div class="budget__month-select">
    <div class="budget__month-left" (click)="onMonthPrevClicked()">
      <
    </div>
    <div class="budget__month-center">
      {{selectedMonth()}} {{' ' + selectedYear()}}
    </div>
    <div class="budget__month-right" (click)="onMonthNextClicked()">
      >
    </div>
  </div>
  <div class="budget floating-box">
    <div class="budget__top">
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          total Budget:
        </div>
        <input type="number" class="budget__element-input fb-input" (change)="onTotalBudgetChanged()" [(ngModel)]="data().totalBudget">
      </div>
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          Sparen:
        </div>
        <input type="number" class="budget__element-input fb-input" (change)="onSparenChanged()" [(ngModel)]="data().sparen">
      </div>
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          mntl. Fix-Kosten:
        </div>
        <div class="budget__element-data">
          {{data().fixKosten}}€
        </div>
      </div>
    </div>
    <hr class="hr">
    <div class="budget-bottom">
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          verfügbar für diesen Monat:
        </div>
        <div class="budget__element-data">
          {{data().budget}}€
        </div>
      </div>
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          tägl. Budget:
        </div>
        <div class="budget__element-data">
          {{data().dayBudget}}€
        </div>
      </div>
    </div>
  </div>

</div>
