<app-top-bar></app-top-bar>

<div class="einstellungen">
  <div class="einstellungen__import-export-wrapper">
    <div class="einstellungen__import-wrapper button" (click)="onFileButtonClick()">
      Daten importieren
    </div>
    <div class="einstellungen__export-wrapper button" (click)="exportFile()">
      Daten exportieren
    </div>
  </div>
  <div class="einstellungen__middle">
    <div class="einstellungen__checkbox-wrapper">
      <input type="checkbox" [(ngModel)]="isShowDaySpendChecked" (click)="onDayDiffClicked()" class="create-eintrag__data-apz">
      <div class="create-eintrag__label-apz" (click)="onDayDiffClicked()">
        Ausgaben Pro Tag anzeigen
      </div>
    </div>
    <div class="einstellungen__checkbox-wrapper">
      <input type="checkbox" [(ngModel)]="isEnableToHighBuchungenChecked" (click)="onZuVielErlaubtClicked()" class="create-eintrag__data-apz">
      <div class="create-eintrag__label-apz" (click)="onZuVielErlaubtClicked()">
        Zu hohe Buchungen erlauben
      </div>
    </div>
  </div>

  <div class="einstellungen__alles-loeschen" (click)="onAlleDatenLoeschenClicked()">
    alle Daten löschen
  </div>

</div>

<input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
