.einstellungen {
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
}

.einstellungen__import-export-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.einstellungen__alles-loeschen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-bottom: 10px;
  font-size: 20px;
}

.button {
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black 1px 1px 2px;
  background-color: #91bada;
}

.button:active {
  background-color: #6a9dc5;
}

.einstellungen__middle {
  padding: 10px;
  width: calc(100% - 20px);
  flex-grow: 1;
}

.einstellungen__section {
  margin-bottom: 10px;
}

.einstellungen__checkbox-wrapper {
  display: flex;
  align-items: center;
}

.einstellungen__label {
  margin-right: 10px;
  font-size: 18px;
  color: #323232;
  margin-left: 7px;
}

.create-eintrag__data-apz {
   height: 20px;
   width: fit-content;
   scale: 1.3;
   position: relative;
   z-index: 1;
 }

.create-eintrag__label-apz {
  font-size: 18px;
  color: #323232;
  margin-left: 7px;
}

.einstellungen__multi-select-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.einstellungen__multi-select {
  margin-left: auto;
  font-size: 16px;
  margin-top: 20px;
  height: 25px;
  border: #070e2e solid 1px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.einstellungen__multi-select--option {
  font-size: 12px;
}

.einstellungen__label-multi-select {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 18px;
  color: #323232;
  margin-left: 7px;
}
