<div class="sparschwein">
  <app-top-bar></app-top-bar>
  <div class="sparschwein__top">
    <img src="assets/sparschwein.png" class="sparschwein__sparschwein">
    <div class="sparschwein__betrag">
      <b class="green" [class.red]="sparschweinData().erspartes < 0">{{ sparschweinData().erspartes }}€</b>
    </div>
  </div>
  <hr class="hr">
  <div class="sparschwein__bottom">
    <div class="sparschwein__list">
      <app-sparschwein-listelem *ngFor="let eintrag of sparschweinData().eintraege" [eintrag]="eintrag">
      </app-sparschwein-listelem>
    </div>
  </div>

  <div class="sparschwein__add-button" (click)="onPlusClicked()">
    +
  </div>
</div>

<div *ngIf="showCreateDialog()">
  <div class="edit-dialog-wrapper">
    <div class="edit-dialog floating-box">
      <div class="create-eintrag__top-content">
        <input type="text" class="create-eintrag__title" autofocus placeholder="Titel" [(ngModel)]="newSpareintrag.title">
        <hr class="hr-title">
        <div class="create-eintrag__betrag">
          <div class="create-eintrag__betrag-warnung" *ngIf="showBetragWarnung()">
            der Betrag darf nicht 0 betragen!
          </div>
          <div class="create-eintrag__betrag-wrapper">
            <div class="create-eintrag__label">
              Betrag:
            </div>
            <input type="number" class="create-eintrag__data" placeholder="0.00€" [(ngModel)]="newSpareintrag.betrag">
          </div>
        </div>
        <div class="create-eintrag__beschreibung-wrapper">
          <div class="create-eintrag__label create-eintrag__beschreibung-label">
            Zusatz:
          </div>
          <textarea
            class="create-eintrag__data create-eintrag__beschreibung-data" [(ngModel)]="newSpareintrag.zusatz">

          </textarea>
        </div>
      </div>
      <div class="create-eintrag__spacer-bottom">

      </div>

      <div class="create-eintrag__buttons-wrapper">
        <div class="create-eintrag__button" (click)="onCreateAbbrechenClicked()">
          abbrechen
        </div>
        <div class="create-eintrag__button" (click)="onCreateSpeichernClicked()">
          speichern
        </div>
      </div>
    </div>
  </div>

  <div class="edit-dialog__background">

  </div>
</div>
