<div class="edit-dialog__wrapper">
  <div class="edit-dialog floating-box">
    <div class="edit-dialog__content">
      <input type="text" class="edit-dialog__title" autofocus placeholder="Titel" [(ngModel)]="viewModel.data.title" (ngModelChange)="onValueChanged()">
      @if (viewModel.data.id !== undefined) {
        <div class="edit-dialog__id">
          ({{viewModel.data.id}})
        </div>
      }
      <hr class="edit-dialog__hr-title">
      <div class="edit-dialog__betrag-wrapper">
        <div class="edit-dialog__betrag-warnung" *ngIf="showBetragWarnung()">
          der Betrag darf nicht 0 betragen!
        </div>
        <div class="edit-dialog__betrag">
          <div class="edit-dialog__label">
            Betrag:
          </div>
          <input type="number" class="edit-dialog__data" placeholder="0.00€" [(ngModel)]="viewModel.data.betrag" (ngModelChange)="onValueChanged()">
        </div>
      </div>
      <div class="edit-dialog__beschreibung-wrapper">
        <div class="edit-dialog__label edit-dialog__beschreibung-label">
          Zusatz:
        </div>
        <textarea class="edit-dialog__beschreibung-data" [(ngModel)]="viewModel.data.zusatz" (ngModelChange)="onValueChanged()">

        </textarea>
      </div>
    </div>

    <div class="edit-dialog__bottom-buttons-wrapper">
      <div class="edit-dialog__bottom-button" (click)="onCancelClicked()">
        abbrechen
      </div>
      <div class="edit-dialog__bottom-button" [class.disabled]="!darfSpeichern()" (click)="onSaveClicked()">
        speichern
      </div>
    </div>
  </div>
  <div class="edit-dialog__background" (click)="onBackgroundClicked()">

  </div>
</div>
