<div class="diagram-details floating-box">
  <div class="diagram-details__top">
    <input class="diagram-details__titel" [(ngModel)]="viewModel.title" placeholder="Diagram Titel">
    <img src="assets/delete.png" class="diagram-details__delete-button" (click)="onDeleteClicked()">
  </div>
  <hr class="diagram-details__hr">
  <div class="diagram-details__bottom">
    <div class="diagram-details__bottom-eintrag">
      <div class="diagram-details__bottom-eintrag-label">
        X-Achse:
      </div>
      <select class="diagram-details__bottom-eintrag-data" [(ngModel)]="viewModel.xAchse">
        <option *ngFor="let option of xAchseOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="diagram-details__bottom-eintrag">
      <div class="diagram-details__bottom-eintrag-label">
        Y-Achse:
      </div>
      <select class="diagram-details__bottom-eintrag-data" [(ngModel)]="viewModel.wert">
        <option *ngFor="let option of wertOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="diagram-details__bottom-eintrag">
      <div class="diagram-details__bottom-eintrag-label">
        Filter:
      </div>
      <select class="diagram-details__bottom-eintrag-data" [(ngModel)]="viewModel.filter.filter">
        <option *ngFor="let option of filterOptions" [value]="option">
          {{ option }}
        </option>
        <option>--kein Filter--</option>
      </select>
    </div>
    <div class="diagram-details__bottom-eintrag-eingerueckt" *ngIf="viewModel.filter.filter && viewModel.filter.filter !== '--kein Filter--'">
      <div class="diagram-details__bottom-eintrag-label">
        Wert:
      </div>
      <select class="diagram-details__bottom-eintrag-data" [(ngModel)]="viewModel.filter.value" *ngIf="viewModel.filter.filter === filterOptions[0]">
        <option *ngFor="let option of filterOptionKategorien" [value]="option" >
          {{ option }}
        </option>
      </select>
      <select class="diagram-details__bottom-eintrag-data" [(ngModel)]="viewModel.filter.value" *ngIf="viewModel.filter.filter === filterOptions[1]">
        <option *ngFor="let option of filterOptionWochentage" [value]="option" >
          {{ option }}
        </option>
      </select>
    </div>
    <div class="diagram-details__bottom-eintrag">
      <div class="diagram-details__bottom-eintrag-label-checkbox">
        Leitlinie anzeigen?
      </div>
      <input type="checkbox" class="diagram-details__bottom-eintrag-data diagram-details__bottom-eintrag-data-checkbox" [(ngModel)]="viewModel.showHorizontaleLinie">
    </div>
    <div class="diagram-details__bottom-eintrag-eingerueckt" *ngIf="viewModel.showHorizontaleLinie">
      <div class="diagram-details__bottom-eintrag-label">
        Wert:
      </div>
      <select class="diagram-details__bottom-eintrag-data" [(ngModel)]="viewModel.horizontaleLinie">
        <option *ngFor="let option of horizontaleLinieOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="diagram-details__bottom-eintrag-eingerueckt-2" *ngIf="viewModel.showHorizontaleLinie && viewModel.horizontaleLinie === 'zahl'">
      <div class="diagram-details__bottom-eintrag-label">
        Zahl:
      </div>
      <input type="number" class="diagram-details__bottom-eintrag-data-small" [(ngModel)]="viewModel.horizontaleLinieZahl">
    </div>
    <div class="diagram-details__bottom-eintrag">
      <div class="diagram-details__bottom-eintrag-label">
        Farbe:
      </div>
      <input type="color" class="diagram-details__bottom-eintrag-data" [(ngModel)]="viewModel.color">
    </div>
  </div>
</div>
