<div class="create-dialog__wrapper">
  <div class="create-dialog floating-box">
    <div class="create-dialog__content">
      <input type="text" class="create-dialog__title" maxlength="25" autofocus placeholder="Titel" [(ngModel)]="eintrag.title" (ngModelChange)="onValueChanged()">
      <hr class="create-dialog__hr-title">
      <div class="create-dialog__betrag-wrapper">
        <div class="create-dialog__betrag-warnung" *ngIf="showBetragWarnung()">
          der Betrag darf nicht 0 betragen!
        </div>
        <div class="create-dialog__betrag">
          <div class="create-dialog__label">
            Betrag:
          </div>
          <div class="create-dialog__betrag-input-wrapper">
            <input type="number" [(ngModel)]="eintrag.betrag" class="create-dialog__data create-dialog__betrag-input" placeholder="0.00" (ngModelChange)="onValueChanged()">
            <div class="create-dialog__betrag-euro-zeichen">
              €
            </div>
          </div>
        </div>
      </div>
      <div class="create-dialog__beschreibung-wrapper">
        <div class="create-dialog__label create-dialog__beschreibung-label">
          Zusatz:
        </div>
        <textarea class="create-dialog__beschreibung-data" [(ngModel)]="eintrag.zusatz" (ngModelChange)="onValueChanged()">

        </textarea>
      </div>
    </div>

    <div class="create-dialog__bottom-buttons-wrapper">
      <div class="create-dialog__bottom-button" (click)="onCancelClicked()">
        abbrechen
      </div>
      <div class="create-dialog__bottom-button" [class.disabled]="!darfSpeichern()"  (click)="onSaveClicked()">
        speichern
      </div>
    </div>
  </div>
  <div class="create-dialog__background" (click)="onBackgroundClicked()">

  </div>
</div>
