<div class="top-bar-wrapper">
  <div class="top-bar">
    <div class="top-bar__left">
      <img src="assets/menu.png" class="top-bar__nav-button" alt=": :" (click)="onMenuButtonClicked()"/>
      <div class="top-bar__text-wrapper" (click)="test()">
        <div class="top-bar__title">
          <b>{{ title }} </b>
        </div>
        <div class="top-bar__version">
          (develop)
        </div>
      </div>

    </div>
    <div class="top-bar__right">
      <div class="top-bar__budget" (click)="toggleDropdown()">
        {{ monthIstBudget()!.month }}€
      </div>
    </div>
    <div class="top-bar__dropdown-box" [class.top-bar__dropdown-box-slidin]="topbarService.dropDownSlidIn()" (click)="toggleDropdown()">
      <div class="ce__budget-eintrag">
        monat: <b class="green" [class.red]="monthIstBudget()!.month !== undefined && +(monthIstBudget()!.month!) < 0">{{ monthIstBudget()!.month }}€</b>
      </div>
      <div class="ce__budget-eintrag">
        woche: <b class="green" [class.red]="monthIstBudget()!.week !== undefined && +(monthIstBudget()!.week!) < 0">{{ monthIstBudget()!.week }}€</b>
      </div>
      <div class="ce__budget-eintrag">
        heute: <b class="green" [class.red]="monthIstBudget()!.day !== undefined && +(monthIstBudget()!.day!) < 0">{{monthIstBudget()!.day}}€</b>
      </div>
    </div>
  </div>
  <div>
    <app-side-nav></app-side-nav>
    <div class="side-nav-wrapper__background" *ngIf="topbarService.isSlidIn()" (click)="onMenuButtonClicked()">

    </div>
  </div>
</div>


