<div class="eintraege-list">
  <div class="eintraege-list__topbar">
  </div>
  @if (days().length > 0) {
    <div class="eintraege-list__lists">
      <div class="eintraege-list__geplant-list" *ngIf="getFutureDays().length > 0">
        <app-buchungen-list-month [month]="getMonthForGeplant()">

        </app-buchungen-list-month>
      </div>

      <div class="eintraege-list__list" *ngIf="getPresentAndPastDays().length > 0">
        <app-buchungen-list-month *ngFor="let month of months()" [month]="month">

        </app-buchungen-list-month>
        <div style="height: calc(100vh - 70px - 92px)"></div>
      </div>
    </div>

  } @else {
    <div class="eintraege-list__keine-eintraege">
      noch keine Einträge vorhanden
    </div>
  }
</div>
