.buchungen-list-day {
  margin-bottom: 25px;
  color: black;
}

.buchungen-list-day__date {
  margin-bottom: 5px;
  display: flex;
  width: 100%;
}

.buchungen-list-day__day-budget {
  margin-left: auto;
  flex-grow: 1;
  text-align: end;
  font-weight: bold;
}

.day-label {
  display: flex;
  width: 100%;
  font-size: 13px;
  margin-bottom: -7px;
}

.bld__box {
  border-radius: 10px !important;
  background-color: #91bada;
}

.hr-details {
  width: calc(100% + 20px);
  margin-left: -10px;
  background-color: #636363;
  border: none;
  height: 1.5px;
}

.hr {
  margin: 0;
  width: 100%;
  background-color: #3a3a3a;
  border: none;
  height: 1px;
}
