<div class="buchungen-list-day" *ngIf="day.buchungen && day.buchungen.length > 0">
  <div class="buchungen-list-day__date">
    <div class="day-label">
      {{day.date.toLocaleDateString()}}
      <div *ngIf="dataProvider.getSettings().tagesAnzeigeOption !== TagesAnzeigeOptions.leer" class="buchungen-list-day__day-budget">
        <div class="green" [class.red]="getTagesAnzeigeBudget() < 0" *ngIf="dataProvider.getSettings().tagesAnzeigeOption === TagesAnzeigeOptions.RestbetragVonIstBetrag || dataProvider.getSettings().tagesAnzeigeOption === TagesAnzeigeOptions.RestbetragVonSollBudget; else grayNumbers">
          {{ getTagesAnzeigeText() }}
        </div>
        <ng-template #grayNumbers>
          {{ getTagesAnzeigeText() }}
        </ng-template>

      </div>
    </div>
  </div>
  <div class="bld__box">
    <div *ngFor="let buchung of day.buchungen; let i = index; let last = last, let first = first">
      <app-buchung-listelem [buchung]="buchung" [last]="last" [first]="first"></app-buchung-listelem>
      <hr class="hr" *ngIf="!last">
    </div>
  </div>
</div>
