<div class="side-nav slide-div" [class.slide-in]="topbarService.isSlidIn()" >
  <div class="side-nav__top">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.home" (click)="onHomeClicked()">
      Home
    </div>
    <hr class="side-nav__hr">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.budget"  (click)="onBudgetClicked()">
      Budget
    </div>
    <hr class="side-nav__hr">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.fixkosten"  (click)="onFixKostenClicked()">
      Fix Kosten
    </div>
    <hr class="side-nav__hr">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.schulden"  (click)="onSchuldenClicked()">
      Schulden
    </div>
    <hr class="side-nav__hr">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.sparschwein" (click)="onSparscheinClicked()">
      Sparschwein
    </div>
    <hr class="side-nav__hr">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.wunschliste" (click)="onWunschlisteClicked()">
      Wunschliste
    </div>
    <hr class="side-nav__hr">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.auswertungen" (click)="onAuswertungenClicked()">
      Auswertungen
    </div>
  </div>
  <div class="side-nav__bottom">
    <div class="side-nav__element" [class.selected]="sideNavService.selectedElement === SideNavElements.einstellungen" (click)="onEinstellungenClicked()">
      Einstellungen
    </div>
  </div>
</div>
