<div class="app-wrapper">
  <router-outlet></router-outlet>

  @if (dialogService.isConfirmDialogVisible) {
    <app-confirm-dialog>

    </app-confirm-dialog>
  }

  @if (dialogService.isEditDialogVisible) {
    <app-edit-dialog [viewModel]="dialogService.editDialogViewModel!">

    </app-edit-dialog>
  }

  @if (dialogService.isCreateDialogVisible) {
    <app-create-dialog [viewModel]="dialogService.createDialogViewModel!">

    </app-create-dialog>
  }

  @if (dialogService.isMonatFixkostenDialogVisible) {
    <app-monat-fixkosten-dialog [viewModel]="dialogService.monatFixkostenDialogViewModel!">

    </app-monat-fixkosten-dialog>
  }

  @if (dialogService.isBuchungsKategorienDialogVisible) {
    <app-buchungskategorien-dialog [viewModel]="dialogService.buchungsKategorienDialogViewModel!">

    </app-buchungskategorien-dialog>
  }

  @if (dialogService.isAuswertungenDialogVisible) {
    <app-auswertungen-dialog [viewModel]="dialogService.auswertungenDialogViewModel!">

    </app-auswertungen-dialog>
  }
</div>
