<div class="top-bar-wrapper">
  <div class="top-bar">
    <div class="top-bar__left">
      <img src="assets/menu.png" class="top-bar__nav-button" alt=": :" (click)="onMenuButtonClicked()"/>
      <div class="top-bar__text-wrapper" (click)="test()">
        <div class="top-bar__title">
          <b>{{ title }} </b>
        </div>
        <div class="top-bar__version">
          (develop)
        </div>
      </div>

    </div>
    <div class="top-bar__right" *ngIf="title !== 'EINSTELLUNGEN' && title !== 'WUNSCHLISTE' && title !== 'SPARSCHWEIN' && title !== 'AUSWERTUNGEN' && !availableMoney().noData  && dataProvider.getSettings().topBarAnzeigeEinstellung !== TopBarBudgetOptions.leer">
      <div class="top-bar__budget"
           (click)="toggleDropdown()"
           (touchstart)="onTouchStart()"
           (touchend)="onTouchEnd()"
           (touchcancel)="onTouchEnd()">
        <div>
          <b class="darkgreen" [class.darkred]="getSelectedtTopBarBudgetCapped() !== undefined && getSelectedtTopBarBudgetCapped()! === 0">
            {{ getSelectedtTopBarBudgetCapped() }}€
          </b>
          <div class="top-bar__tage-left">
            {{ getDaysLeftText() }}
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar__dropdown-box" [class.top-bar__dropdown-box-slidin]="topbarService.dropDownSlidIn()"
         (click)="toggleDropdown()" *ngIf="isDropdownEnabled()">
      <div class="top-bar__budget-eintrag-wrapper">
        <div class="top-bar__budget-eintrag-label">
          monat:
        </div>
        <b class="red top-bar__budget-eintrag-data" *ngIf="availableMoneyCapped()!.availableForMonth !== undefined; else blackContent"
           [class.green]="+(availableMoneyCapped()!.availableForMonth) > 0">{{ ut.toFixedDown(availableMoneyCapped()!.availableForMonth, 2) }}€</b>

      </div>
      <div class="top-bar__budget-eintrag-wrapper">
        <div class="top-bar__budget-eintrag-label">
          woche:
        </div>
        <b class="red top-bar__budget-eintrag-data" *ngIf="availableMoneyCapped()!.availableForWeek !== undefined; else blackContent"
                  [class.green]="+(availableMoneyCapped()!.availableForWeek!) > 0">{{ ut.toFixedDown(availableMoneyCapped()!.availableForWeek!, 2) }}€</b>
      </div>
      <div class="top-bar__budget-eintrag-wrapper">
        <div class="top-bar__budget-eintrag-label">
          heute:
        </div>
        <b class="red top-bar__budget-eintrag-data" *ngIf="availableMoneyCapped()!.availableForDayIst !== undefined; else blackContent"
                  [class.green]="+(availableMoneyCapped()!.availableForDayIst!) > 0">{{ ut.toFixedDown(availableMoneyCapped()!.availableForDayIst!, 2) }}€</b>
      </div>
    </div>
  </div>
  <div>
    <app-side-nav></app-side-nav>
    <div class="side-nav-wrapper__background" *ngIf="topbarService.isSlidIn()" (click)="onMenuButtonClicked()">

    </div>
  </div>
</div>

<ng-template #blackContent>
  ???
</ng-template>
