<div class="top-bar-wrapper">
  <div class="top-bar">
    <div class="top-bar__left">
      <img src="assets/menu.png" class="top-bar__nav-button" alt=": :" (click)="onMenuButtonClicked()"/>
      <div class="top-bar__text-wrapper" (click)="test()">
        <div class="top-bar__title">
          <b>{{ title }} </b>
        </div>
        <div class="top-bar__version">
          (develop)
        </div>
      </div>

    </div>
    <div class="top-bar__right" *ngIf="title !== 'EINSTELLUNGEN'">
      <div class="top-bar__budget" *ngIf="dayBudget()!.verfuegbar !== undefined" (click)="toggleDropdown()"
           (touchstart)="onTouchStart()" (touchend)="onTouchEnd()" (touchcancel)="onTouchEnd()">
        <b class="darkgreen"
           [class.darkred]="dayBudget()!.verfuegbar! < 0">{{ toFixedDown(dayBudget().verfuegbar!, 2) }}€</b>
      </div>
    </div>
    <div class="top-bar__dropdown-box" [class.top-bar__dropdown-box-slidin]="topbarService.dropDownSlidIn()"
         (click)="toggleDropdown()">
      <div class="top-bar__budget-eintrag-wrapper">
        <div class="top-bar__budget-eintrag-label">
          monat:
        </div>
        <b class="green top-bar__budget-eintrag-data" *ngIf="dayBudget()!.month !== undefined; else blackContent"
           [class.red]="+(dayBudget()!.month!) < 0">{{ toFixedDown(dayBudget()!.month!, 2) }}€</b>

      </div>
      <div class="top-bar__budget-eintrag-wrapper">
        <div class="top-bar__budget-eintrag-label">
          woche:
        </div>
        <b class="green top-bar__budget-eintrag-data" *ngIf="dayBudget()!.week !== undefined; else blackContent"
                  [class.red]="+(dayBudget()!.week!) < 0">{{ toFixedDown(dayBudget()!.week!, 2) }}€</b>
      </div>
      <div class="top-bar__budget-eintrag-wrapper">
        <div class="top-bar__budget-eintrag-label">
          heute:
        </div>
        <b class="green top-bar__budget-eintrag-data" *ngIf="dayBudget()!.day !== undefined; else blackContent"
                  [class.red]="+(dayBudget()!.day!) < 0">{{ toFixedDown(dayBudget()!.day!, 2) }}€</b>
      </div>
    </div>
  </div>
  <div>
    <app-side-nav></app-side-nav>
    <div class="side-nav-wrapper__background" *ngIf="topbarService.isSlidIn()" (click)="onMenuButtonClicked()">

    </div>
  </div>
</div>

<ng-template #blackContent>
  ???
</ng-template>
