<div class="create-eintrag">
  <div class="create-eintrag__back-button-wrapper">
    <img src="assets/arrow-back.png" class="create-eintrag__back-button" (click)="onBackClicked()" alt="<-">
    <div class="create-eintrag__budget" *ngIf="isAvailableMoneyValid(); else noDayBudgetTop">
      <div class="ce__budget-eintrag">
        monat: <b class="green" [class.red]="availableMoney().availableForMonth < 0">{{ utils.toFixedDown(availableMoney().availableForMonth, 2) ?? '???' }}€</b>
      </div>
      <div class="ce__budget-eintrag">
        woche: <b class="green" [class.red]="availableMoney().availableForWeek < 0">{{ utils.toFixedDown(availableMoney().availableForWeek, 2) ?? '???' }}€</b>
      </div>
      <div class="ce__budget-eintrag">
        tag: <b class="green" [class.red]="availableMoney().availableForDay < 0">{{ utils.toFixedDown(availableMoney().availableForDay, 2) ?? '???' }}€</b>
      </div>
    </div>
    <ng-template #noDayBudgetTop>
      <div class="create-eintrag__budget">
        <div class="ce__budget-eintrag">
          monat: <b>???</b>
        </div>
        <div class="ce__budget-eintrag">
          woche: <b>???</b>
        </div>
        <div class="ce__budget-eintrag">
          tag: <b>???</b>
        </div>
      </div>
    </ng-template>
    <div class="create-eintrag__top-spacer" (click)="onBackClicked()">

    </div>
  </div>
  <div class="create-eintrag__content">
    <div class="create-eintrag__top-content">
      <div class="create-eintrag__top-line">
        @if (!isSearchboxVisible()) {
          <input type="text" [(ngModel)]="buchung.title" maxlength="12" class="create-eintrag__title" autofocus
                 placeholder="Titel" (change)="onTitleChanged()" onfocus="this.select()">
          <img src="assets/search.png" class="create-eintrag__search-button" (click)="onSearchClicked()"/>
        } @else {
          <div class="create-eintrag__search-box-wrapper">
            <div class="create-eintrag__search-box">
              <app-searchbox [items]="buchungen" [filterField]="'title'" (itemSelected)="onItemSelected($event)"></app-searchbox>
            </div>
            <img src="assets/close.png" class="create-eintrag__search-box-x-button" alt="x" (click)="onSearchboxCloseClicked()"/>
          </div>

        }
      </div>
      <hr class="hr-title">
      <div class="create-eintrag__betrag">
        <div class="create-eintrag__betrag-warnung" *ngIf="showBetragWarning">
          {{betragWarnung}}
        </div>
        <div class="create-eintrag__betrag-wrapper">
          <div class="create-eintrag__label">
            Betrag:
          </div>
          <div class="betrag-input-wrapper">
            <input type="number" [(ngModel)]="buchung.betrag" class="create-eintrag__data betrag-input"
                   placeholder="0.00" (ngModelChange)="onBetragChanged()" onfocus="this.select()">
            <div class="betrag-euro-zeichen">
              €
            </div>
          </div>
        </div>
      </div>

      <div class="create-eintrag__datum-wrapper">
        <div class="create-eintrag__label">
          Datum:
        </div>
        <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()" class="create-eintrag__data">
      </div>
      <div class="create-eintrag__uhrzeit-wrapper">
        <div class="create-eintrag__label">
          Uhrzeit:
        </div>
        <input type="time" [(ngModel)]="buchung.time" (change)="onTimeChange($event)" class="create-eintrag__data">
      </div>
      <div class="create-eintrag__apz-wrapper">
        <input type="checkbox" [(ngModel)]="buchung.apz" class="create-eintrag__data-apz" *ngIf="!isSearchboxVisible()">
        <div class="create-eintrag__label-apz" (click)="onApzClicked()">
          Außer planmäßige Zahlung
        </div>
      </div>
      <hr class="hr-details">
      <div class="create-eintrag__beschreibung-wrapper">
        <div class="create-eintrag__label create-eintrag__beschreibung-label">
          Beschreibung:
        </div>
        <textarea [(ngModel)]="buchung.beschreibung" class="create-eintrag__data create-eintrag__beschreibung-data"
                  (change)="onBeschreibungChanged()">

        </textarea>
      </div>
    </div>
    <div class="create-eintrag__spacer-bottom">

    </div>

    <div class="create-eintrag__buttons-wrapper">
      <div class="create-eintrag__button" (click)="onCancelClicked()">
        abbrechen
      </div>
      <div class="create-eintrag__button" [class.disabled]="isSaveButtonDisabled()" (click)="onSaveClicked()">
        speichern
      </div>
    </div>
  </div>

</div>
