<div class="create-eintrag">
  <div class="create-eintrag__back-button-wrapper">
    <img src="assets/arrow-back.png" class="create-eintrag__back-button" (click)="onBackClicked()" alt="<-">
    <div class="create-eintrag__budget" *ngIf="!availableMoneyCapped().noData; else noDayBudgetTop">
      <div class="ce__budget-eintrag">
        monat: <b class="red"
                  [class.green]="availableMoneyCapped().availableForMonth > 0">{{ utils.toFixedDown(availableMoneyCapped().availableForMonth, 2) }}
        €</b>
      </div>
      <div class="ce__budget-eintrag">
        woche: <b class="red"
                  [class.green]="availableMoneyCapped().availableForWeek > 0">{{ utils.toFixedDown(availableMoneyCapped().availableForWeek, 2) }}
        €</b>
      </div>
      <div class="ce__budget-eintrag">
        tag: <b class="red"
                [class.green]="availableMoneyCapped().availableForDay > 0">{{ utils.toFixedDown(availableMoneyCapped().availableForDay, 2) }}
        €</b>
      </div>
    </div>
    <div class="create-eintrag__top-spacer">

    </div>
  </div>
  <div class="create-eintrag__content">
    <div class="create-eintrag__top-content">
      <div class="create-eintrag__top-line">
        @if (!isSearchboxVisible()) {
          <input type="text" [(ngModel)]="buchung.title" maxlength="25" class="create-eintrag__title" autofocus
                 placeholder="Titel" (change)="onTitleChanged()" onfocus="this.select()">
          <img src="assets/search.png" class="create-eintrag__search-button" (click)="onSearchClicked()"/>
        } @else {
          <div class="create-eintrag__search-box-wrapper">
            <div class="create-eintrag__search-box">
              <app-searchbox [items]="buchungen" [filterField]="'data.title'"
                             (itemSelected)="onItemSelected($event)">
              </app-searchbox>
            </div>
            <img src="assets/close.png" class="create-eintrag__search-box-x-button" alt="x"
                 (click)="onSearchboxCloseClicked()"/>
          </div>
        }
      </div>
      <hr class="hr-title">
      <div class="create-eintrag__betrag">
        <div class="create-eintrag__betrag-warnung" *ngIf="showBetragWarning">
          {{ betragWarnung }}
        </div>
        <div class="create-eintrag__betrag-wrapper">
          <div class="create-eintrag__label">
            Betrag:
          </div>
          <div class="betrag-input-wrapper">
            <input type="number" [(ngModel)]="buchung.betrag" class="create-eintrag__data betrag-input"
                   placeholder="0.00" (ngModelChange)="onBetragChanged()" onfocus="this.select()">
            <div class="betrag-euro-zeichen">
              €
            </div>
          </div>
        </div>
      </div>

      <div class="create-eintrag__datum-wrapper">
        <div class="create-eintrag__label">
          Datum:
        </div>
        <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()" class="create-eintrag__data">
      </div>
      <div class="create-eintrag__uhrzeit-wrapper">
        <div class="create-eintrag__label">
          Uhrzeit:
        </div>
        <input type="time" [(ngModel)]="buchung.time" (change)="onTimeChange($event)" class="create-eintrag__data">
      </div>
      <div class="create-eintrag__datum-wrapper">
        <div class="create-eintrag__label-multi-select">
          geplante Ausgabe:
        </div>
        <input type="checkbox" [(ngModel)]="buchung.geplanteBuchung">
      </div>
      <div class="create-eintrag__datum-wrapper">
        <div class="create-eintrag__label-multi-select">
          Kategorie:
        </div>
        <select class="betrag-input-wrapper create-eintrag__data-kategorie" [(ngModel)]="buchung.buchungsKategorie" (change)="onKategorieChanged()" *ngIf="!buchung.geplanteBuchung">
          <option
            *ngFor="let kategorie of kategorien"
            class=""
            [value]="kategorie.id">
            {{ kategorie.name }}
          </option>
        </select>
        <select class="betrag-input-wrapper create-eintrag__data-kategorie" [(ngModel)]="buchung.buchungsKategorie" (change)="onKategorieChanged()" *ngIf="buchung.geplanteBuchung">
          <option
            *ngFor="let kategorie of geplanteAusgabenKategorien"
            class=""
            [value]="kategorie.id">
            {{ kategorie.title }}
          </option>
        </select>
      </div>
      <hr class="hr-details">
      <div class="create-eintrag__beschreibung-wrapper">
        <div class="create-eintrag__label create-eintrag__beschreibung-label">
          Beschreibung:
        </div>
        <textarea [(ngModel)]="buchung.beschreibung" class="create-eintrag__data create-eintrag__beschreibung-data"
                  (change)="onBeschreibungChanged()">

        </textarea>
      </div>
    </div>
    <div class="create-eintrag__spacer-bottom">

    </div>

    <div class="create-eintrag__buttons-wrapper">
      <div class="create-eintrag__button" (click)="onCancelClicked()">
        abbrechen
      </div>
      <div class="create-eintrag__button" [class.disabled]="isSaveButtonDisabled()" (click)="onSaveClicked()">
        speichern
      </div>
    </div>
  </div>
</div>


<ng-template #noDayBudgetTop>
  <div class="create-eintrag__budget">
    <div class="ce__budget-eintrag">
      monat: <b>???</b>
    </div>
    <div class="ce__budget-eintrag">
      woche: <b>???</b>
    </div>
    <div class="ce__budget-eintrag">
      tag: <b>???</b>
    </div>
  </div>
</ng-template>
