<div class="password-reset" (keydown.enter)="onSendEmailClicked()">
  <div class="password-reset__logo-wrapper">
    <img src="assets/favicon.jpg" class="password-reset__logo">
  </div>
  <div class="password-reset__error-message">
    {{errorMessage}}
  </div>
  <div class="password-reset__before-email-send" *ngIf="!wasEmailSend; else emailWasSend">
    <div class="password-reset__data-input-wrapper">
      <div class="password-reset__data-input-element-wrapper">
        <div class="password-reset__data-input-label">
          Email-Adresse
        </div>
        <input type="email" [disabled]="isLoading" [class.disabled]="isLoading" [class.password-reset__grayed-out]="wasEmailSend" placeholder="email" class="password-reset__data-input-element" [(ngModel)]="email" (ngModelChange)="onEmailChange()">
      </div>
    </div>
    <app-info-box class="password-reset__info-box-wrapper">
      Bitte gib die Emailadresse von dem Account, dessen Passwort du zurücksetzen möchtest, an.
    </app-info-box>
    <div class="password-reset__buttons-wrapper">
      <div class="password-reset__button password-reset__send-email-button" (click)="onSendEmailClicked()" [class.disabled]="isSaveButtonDisabled" *ngIf="!isLoading; else loading">
        Email senden
      </div>
      <div class="password-reset__back-text" (click)="onBackClicked()">
        zurück
      </div>
    </div>
  </div>
  <div class="password-reset__version">
    {{versionName}}
  </div>
</div>

<ng-template #emailWasSend>
  <div class="password-reset__after-email-send">
    <app-info-box class="password-reset__info-box-wrapper-after-email-send">
      Wir haben dir eine Email gesendet. In dieser Email ist ein Link mit dessen Hilfe du dein Passwort zurücksetzen kannst.
    </app-info-box>
    <div class="password-reset__button login__anmelden-button" (click)="onBackClicked()" [class.disabled]="isSaveButtonDisabled" *ngIf="!isLoading; else loading">
      zum Login
    </div>
    <div class="password-reset__back-text" (click)="onSendAgainClicked()">
      Email erneut senden
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <img src="assets/loading-gif.gif" class="password-reset__loading-gif">
</ng-template>
