<div class="eintrag-listelem">
  <div class="eintrag-listelem__menu-button__left" (click)="onBuchungClicked(buchung.id!)">
    <div class="eintrag-listelem__betrag all-centered">
      <b>-{{ buchung.betrag }}€</b>
    </div>
    <div class="a">
      <div class="eintrag-listelem__title all-centered">
        <b>{{ buchung.title !== '' ? buchung.title : 'Unbenannt' }}</b>
      </div>
      <div class="eintrag-listelem__beschreibung">
        {{ buchung.beschreibung }}
      </div>
    </div>
  </div>

  <div class="eintrag-listelem__menu-button all-centered" (click)="onMenuButtonClicked()">
    ...
  </div>

  @if (showMenu()) {
    <div class="eintrag-listelem__menu">
      <div class="eintrag-listelem__edit-button all-centered eintrag-listelem__menu-item"
           (click)="onEditButtonClicked(buchung.id!)">
        bearbeiten
      </div>
      <hr>
      <div class="eintrag-listelem__edit-delete all-centered eintrag-listelem__menu-item"
           (click)="onDeleteButtonClicked()">
        löschen
      </div>
    </div>
    <div class="eintrag-listelem__menu-background" (click)="onMenuButtonClicked()">

    </div>
  }
</div>
