<app-top-bar></app-top-bar>
<div  class="fixkosten__list" *ngIf="elements() && elements().length > 0; else keineEintraege">
  <div *ngFor="let fixKostenEintrag of elements()">
    <app-list-element [viewModel]="getViewModel(fixKostenEintrag)"></app-list-element>
  </div>
  <div style="height: calc(100vh - 70px - 190px)"></div>
</div>
<div class="fixkosten__summe-wrapper">
  <div class="fixkosten__summe">
    <div class="fixkosten__summe-label">
      Summe:
    </div>
    <div class="fixkosten__summe-data">
      {{summe().toFixed(2)}}€
    </div>
  </div>
  <app-plus-button (click)="onPlusClicked()" [fixed]="false" class="fixkosten__add-button"></app-plus-button>
</div>
<ng-template #keineEintraege>
  <div class="keine-eintraege">
    noch keine Einträge vorhanden
  </div>
</ng-template>



