<app-top-bar></app-top-bar>
<div  class="fixkosten__list" *ngIf="elements() && elements().length > 0; else keineEintraege">
  <div *ngFor="let fixKostenEintrag of elements()">
    <app-list-element [viewModel]="getViewModel(fixKostenEintrag)"></app-list-element>
  </div>
  <div style="height: calc(100vh - 70px - 190px)"></div>
</div>
<div class="fixkosten__summe-wrapper">
  <div class="fixkosten__summe-label">
    Fixkosten Summe:
  </div>
  <div class="fixkosten__summe-data">
    <b>{{summe().toFixed(2)}}€</b>
  </div>
</div>
<ng-template #keineEintraege>
  <div class="keine-eintraege">
    noch keine Einträge vorhanden
  </div>
</ng-template>


<div class="fix-kosten__add-button" (click)="onPlusClicked()">
  +
</div>
