.fix-kosten__add-button {
  border-radius: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #29508a;
  box-shadow: #474747 1px 1px 2px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.fix-kosten__add-button:hover {
  font-size: 40px;
}

.fixkosten__list {
  overflow-y: scroll;
  height: calc(100% - 70px - 105px);
}

.fixkosten__summe-wrapper {
  height: 105px;
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  background-color: #77afd1;
}

.fixkosten__summe-label {
  flex-grow: 1;
  font-weight: bold;
}

.fixkosten__summe-data {
  width: fit-content;
  font-weight: bold;
}

.fixkosten__add-button {
  padding: 15px;
}

.spacer {
  height: 80px;
}

.keine-eintraege {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgrey;
}

.fixkosten__summe {
  background-color: #c5dff8;
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: calc(60% - 40px);
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  border: 2px solid #4f82b3;
}
