.fix-kosten__add-button {
  border-radius: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #29508a;
  box-shadow: #474747 1px 1px 2px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.fix-kosten__add-button:hover {
  font-size: 40px;
}

.fixkosten__list {
  overflow-y: scroll;
  height: calc(100% - 70px);
}

.spacer {
  height: 80px;
}
