<div class="buchungen-list-day" *ngIf="day.buchungen && day.buchungen.length > 0">
  <div class="buchungen-list-day__date">
    <b class="day-label">{{day.date.toLocaleDateString()}} <div class="red buchungen-list-day__day-budget" [class.green]="day.istBudget! > 0">{{day.istBudget}}€</div></b>
  </div>
  <div class="bld__box">
    <div *ngFor="let buchung of day.buchungen; let i = index; let last = last">
      <app-buchung-listelem [buchung]="buchung"></app-buchung-listelem>
      <hr class="hr" *ngIf="!last">
    </div>

  </div>
</div>
