<div class="auswertungen">
  <app-top-bar></app-top-bar>
  <div class="budget__month-select">
    <div class="budget__month-left" (click)="onMonthPrevClicked()">
      <
    </div>
    <div class="budget__month-center">
      {{ selectedMonth() }} {{ ' ' + selectedYear() }}
    </div>
    <div class="budget__month-right" (click)="onMonthNextClicked()">
      >
    </div>
  </div>
  <div class="charts">
    <div>
      <app-bar-chart [chartId]="'chart1'" [viewModel]="ausgabenProTagCVM"></app-bar-chart>
    </div>
    <div *ngFor="let CVM of ausgabenForMonatProTagKategorisiertCVM">
      <app-bar-chart [chartId]="CVM.datasets[0].label" [viewModel]="CVM"></app-bar-chart>
    </div>
    <div>
      <app-bar-chart [chartId]="'chart2'" [viewModel]="totalBudgetCVMForMonthsInYear"></app-bar-chart>
    </div>
    <div>
      <app-bar-chart [chartId]="'chart3'" [viewModel]="nichtAusgegebenesGeldCVMForMonthsInYear"></app-bar-chart>
    </div>
  </div>
</div>
