<div class="bk-dialog-wrapper">
  <div class="floating-box bk-dialog">
    <div class="bk-dialog__list-wrapper">
      <div class="bk-dialog__list">
        <div *ngIf="viewModel.elemente.length > 0; else keineEintraege">
          <div *ngFor="let element of viewModel.elemente">
            <app-list-element [viewModel]="getViewModel(element)"></app-list-element>
          </div>
        </div>
        <div class="bk__spacer" *ngIf="viewModel.elemente.length > 0"></div>
      </div>
    </div>
    <div class="bk-dialog__add-button-wrapper">
      <app-plus-button (click)="onPlusClicked()" [fixed]="false"></app-plus-button>
    </div>
    <div class="bk-dialog__buttons-wrapper">
      <div class="bk-dialog__button" (click)=onCancelClicked()>
        abbrechen
      </div>
      <div class="bk-dialog__button" (click)="onSaveClicked()">
        speichern
      </div>
    </div>
    <ng-template #keineEintraege>
      <div class="bk-dialog__keine-eintraege">
        noch keine Einträge vorhanden
      </div>
    </ng-template>
  </div>
</div>

