<div class="buchungen-list-month light-floating-box" [class.expanded]="isMonthVisible()" [class.collapsed]="!isMonthVisible()">
  <div class="buchungen-list-month__top-visible" (click)="toggleIsMonthVisible()">
    <img src="assets/chevron-down.png" class="buchungen-list-month__arrow">
    <div class="buchungen-list-month__month-name">
      {{ month.monthName }}
    </div>
    <div class="buchungen-list-month__top-budget"
         [ngStyle]="+(ut.toFixedDown(monthBudget(), 2))! < 0 ? {'color': '#da0000'} : {'color': 'green'}"
         *ngIf="!month.isGeplantMonth">
      {{ ut.toFixedDown(monthBudget(), 2)! }}€
    </div>
  </div>
  <div class="buchungen-list-month__content">
    <app-buchungen-list-day *ngFor="let day of month.days" [day]="day"></app-buchungen-list-day>
  </div>
</div>
