body {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: Tahoma, serif;
  user-select: none;
  background-color: #e7f2ff;
}

input, textarea {
  outline: none;
}

html {
  height: 100%;
}

all-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-box {
  background-color: #91bada;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: rgba(78, 78, 78, 0.75) 2px 2px 4px;
  margin: 10px;
  font-size: 18px;
  color: #292929;
}

.light-floating-box {
  background-color: #b7d6f3;
  border-radius: 15px;
  padding: 2px 10px;
  box-shadow: rgba(78, 78, 78, 0.75) 2px 2px 4px;
  font-size: 18px;
  color: #292929;
}

.fb-input {
  height: 23px;
  background-color: #e5efff;
  border: none;
  border-bottom: black solid 1px;
  width: 130px;
  text-align: end;
  padding: 0;
}

.green {
  color: #009500;
}

.red {
  color: #da0000 !important;
}

.disabled {
  background-color: #e3e3e3 !important;
  color: #939393 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
