<div class="create-dialog__wrapper">
  <div class="create-dialog floating-box">
    <div class="create-dialog__content">
      <input type="text" class="create-dialog__title" maxlength="25" autofocus placeholder="Layout Titel" [(ngModel)]="viewModel.title" onfocus="this.select()"><!--[(ngModel)]="" (ngModelChange)=""-->
      <hr class="hr-title">
      <div class="create-layout-dialog__diagram-list">
        <app-diagram-details [viewModel]="diagram"
                             (deleteClicked)="onCreateDiagramDeleteClicked($event)"
                             *ngFor="let diagram of viewModel.diagramme">
        </app-diagram-details>
        <div class="diagram-plus-button-wrapper">
          <div class="diagram-plus-button" (click)="onPlusClicked()">
            +
          </div>
        </div>
      </div>
      <div class="create-dialog__bottom-buttons-wrapper">
        <div class="create-dialog__bottom-button" (click)="onCancelClicked()">
          abbrechen
        </div>
        <div class="create-dialog__bottom-button" [class.disabled]="false"  (click)="onSaveClicked()">
          speichern
        </div>
      </div>
    </div>
  </div>


  <div class="create-dialog__background">

  </div>
</div>
