.list-element {
  position: relative; /* Wichtig, damit das Menü relativ zum Container positioniert wird */
  box-shadow: none !important;
  transition: max-height 0.3s ease-in-out;
}

.list-element__main {
  display: flex;
  align-items: center;
  height: 20px;
}

.list-element__main-left {
  font-size: 18px;
  width: 85px;
  padding-right: 5px;
  display: flex;
}

.list-element__main-center {
  width: 270px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-element__main-center-top {
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-element__main-center-bottom {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.list-element__main-right {
  margin-left: auto;
}

.list-element__menu-button {
  padding: 10px;
  margin-bottom: 7px;
  font-weight: bold;
}

.list-element__menu-wrapper {
   position: absolute; /* Position relative to the parent container */
   top: calc(100% - 11px); /* Aligns directly below the parent */
   right: 0; /* Centers horizontally relative to the parent */
   width: 120px;
   z-index: 9999; /* Ensures visibility above other elements */
   border-radius: 8px;
   overflow: hidden;
 }

.list-element__menu-content {
  z-index: 9999; /* Ensures visibility above other elements */
  position: relative;
  display: flex;
  flex-direction: column; /* Stack menu elements vertically */
  background-color: #91bada;
}

.list-element__menu-element-wrapper {
  display: flex;
  flex-direction: column;
}

.list-element__menu-element {
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.list-element__menu-dividing-line {
  margin: 0;
  border: none;
  border-top: 1px solid #91a2cc;
  height: 1px;
  width: 100%;
}

.list-element__menu-background {
  position: fixed; /* Covers the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998; /* Slightly below the menu wrapper */
}


.green {
  color: green;
}

.red {
  color: red;
}

.hr-details {
  margin: 0;
  border: none;
  background-color: black;
  height: 2px;
}

.list-element__details {
  height: 0;
  color: transparent;
  transition: height 0.2s ease-out;
  .hr-details {
    background-color: transparent;
  }

  .list-element__details-content {
    color: transparent;
  }

  .list-element__details-content-empty {
    color: transparent;
  }
}

.highlighted {
  border: 5px solid yellow;
}

.darker {
  background-color: #b1b4bc;
}

.list-element__disabled {
  background-color: #e1e1e1;
  color: #888888;
}

.grayed-out-element {
  background-color: #b5b5b5;
  color: #4c4c4c;
}

.list-element__detailss {
  padding: 10px 0 0 0;
  color: #333;
  font-size: 16px;
  word-break: break-word;
}

.list-element__menu-top {
  background-color: #91bada;
  height: 11px;
  width: 100%;
}
