<div class="list-element floating-box"
     [class.grayed-out-element]="viewModel.settings.isGrayedOut"
     [class.highlighted]="viewModel.settings.highlighted === true"
     [class.darker]="viewModel.settings.isDarker"
     [style.maxHeight]="isExpanded ? '200px' : '70px'">
  <div class="list-element__main">
    <div class="list-element__main-left" (click)="onEintragClicked()">
      @if(viewModel.settings.isDarker) {
        <b class="darker-text">{{ ut.toFixedDown(viewModel.data.betrag!, 2) }}€</b>
      } @else if(viewModel.settings.isGrayedOut) {
        <b class="grayed-out-element">{{ ut.toFixedDown(viewModel.data.betrag!, 2) }}€</b>
      } @else if(viewModel.settings.betragColor === Color.red){
        <b class="red">{{ ut.toFixedDown(viewModel.data.betrag!, 2) }}€</b>
      } @else if(viewModel.settings.betragColor === Color.green){
        <b class="green">{{ ut.toFixedDown(viewModel.data.betrag!, 2) }}€</b>
      } @else if(viewModel.settings.betragColor === Color.black){
        <b>{{ ut.toFixedDown(viewModel.data.betrag!, 2) }}€</b>
      } @else {
        <b>{{ ut.toFixedDown(viewModel.data.betrag!, 2) }}€</b>
      }
    </div>
    <div class="list-element__main-center">
      <div class="list-element__main-center-top" (click)="onEintragClicked()">
        <b>{{ viewModel.data.title }}</b>
      </div>
    </div>
    <div class="list-element__main-right">
      <div *ngIf="viewModel.settings.doMenuExist" class="list-element__menu-button" (click)="onMenuClicked()">
        ...
      </div>
    </div>
  </div>

  <div *ngIf="isExpanded" class="list-element__detailss">
    {{ viewModel.data.zusatz ?? '-- keine Beschreibung --' }}
  </div>

  <div *ngIf="isMenuVisible()" class="list-element__menu-wrapper">
    <div class="list-element__menu-background" (click)="onMenuClicked()"></div>
    <div *ngFor="let menuItem of viewModel.data.menuItems; let last = last">
      <div class="list-element__menu-eintrag" [class.grayed-out]="menuItem.grayedOut" (click)="onMenuEintragClicked(menuItem)">
        {{ menuItem.label }}
      </div>
      <hr *ngIf="!last" class="list-element__menu-dividing-line">
    </div>
  </div>
</div>
