.list-element {
  position: relative; /* Wichtig, damit das Menü relativ zum Container positioniert wird */
}

.list-element__main {
  display: flex;
  align-items: center;
  height: 40px;
}

.list-element__main-left {
  font-size: 23px;
  width: 100px;
}

.list-element__main-center {
  flex-grow: 1;
}

.list-element__main-center-top {
  font-size: 18px;
}

.list-element__main-center-bottom {
  font-size: 14px;
}

.list-element__main-right {

}

.list-element__menu-button {
  padding: 10px;
}

.list-element__details {

}

.list-element__menu-wrapper {
  position: absolute;
  z-index: 20;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black 1px 1px 2px;
  right: 0;
  top: 100%;
  margin-top: 5px;
}

.list-element__menu-eintrag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 20;
  position: relative;
  flex-direction: column;
}

.list-element__menu-dividing-line {
  margin: 0;
  border: none;
  background-color: black;
  height: 2px;
  width: 100%;
}

.list-element__menu-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.green {
  color: green;
}

.red {
  color: red;
}

.hr-details {
  margin: 0;
  border: none;
  background-color: black;
  height: 2px;
}

.list-element__details {
  height: 0;
  color: transparent;
  transition: height 0.2s ease-out;
  .hr-details {
    background-color: transparent;
  }

  .list-element__details-content {
    color: transparent;
  }

  .list-element__details-content-empty {
    color: transparent;
  }
}

.highlighted {
  border: 5px solid yellow;
}

.darker {
  background-color: #777d95;
}
