.list-element {
  position: relative; /* Wichtig, damit das Menü relativ zum Container positioniert wird */
  box-shadow: none !important;
  transition: max-height 0.3s ease-in-out;
}

.list-element__main {
  display: flex;
  align-items: center;
  height: 25px;
}

.list-element__main-left {
  font-size: 18px;
  width: 85px;
  padding-right: 5px;
  display: flex;
}

.list-element__main-center {
  width: 270px;
}

.list-element__main-center-top {
  font-size: 17px;
}

.list-element__main-center-bottom {
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.list-element__menu-button {
  padding: 10px;
  margin-bottom: 7px;
  font-weight: bold;
}

.list-element__menu-wrapper {
  position: absolute;
  z-index: 50;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black 1px 1px 2px;
  right: 0;
  top: 40px;
  margin-top: 5px;
}

.list-element__menu-eintrag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 20;
  position: relative;
  flex-direction: column;
}

.list-element__menu-dividing-line {
  margin: 0;
  border: none;
  background-color: black;
  height: 2px;
  width: 100%;
}

.list-element__menu-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.green {
  color: green;
}

.red {
  color: red;
}

.hr-details {
  margin: 0;
  border: none;
  background-color: black;
  height: 2px;
}

.list-element__details {
  height: 0;
  color: transparent;
  transition: height 0.2s ease-out;
  .hr-details {
    background-color: transparent;
  }

  .list-element__details-content {
    color: transparent;
  }

  .list-element__details-content-empty {
    color: transparent;
  }
}

.highlighted {
  border: 5px solid yellow;
}

.darker {
  background-color: #b1b4bc;
}

.grayed-out {
  background-color: #e1e1e1;
  color: #888888;
  border-radius: 10px;
}

.grayed-out-element {
  background-color: #b5b5b5;
  color: #4c4c4c;
}

.list-element__detailss {
  padding: 10px 0 0 0;
  color: #333;
  font-size: 16px;
  word-break: break-word;
}
