<div class="confirm-dialog__background">

</div>
<div class="confirm-dialog">
  <div class="confirm-dialog__title">
    {{viewModel?.title}}
  </div>
  <div class="confirm-dialog__message">
    {{viewModel?.message}}
  </div>
  <div class="confirm-dialog__buttons-wrapper">
    <div class="confirm-dialog__cancel-button confirm-dialog__button" (click)="onCanceluttonClicked()">
      nein
    </div>
    <div class="confirm-dialog__confirm-button confirm-dialog__button" (click)="onConfirmButtonClicked()">
      ja
    </div>
  </div>
</div>
