<div class="create-eintrag">
  <div class="create-eintrag__back-button-wrapper">
    <img src="assets/arrow-back.png" class="create-eintrag__back-button" (click)="onBackClicked()" alt="<-">
  </div>
  <div class="create-eintrag__content" *ngIf="buchung !== undefined; else noEintrag">
    <div class="create-eintrag__top-content">
      <div class="create-eintrag__title" *ngIf="titelVorhanden">
        {{buchung()!.data.title}}
      </div>
      <div class="create-eintrag__title-unbenannt" *ngIf="!titelVorhanden">
        Unbenannt
      </div>
      <hr class="hr-title">
      <div class="create-eintrag__betrag">
        <div class="create-eintrag__betrag-wrapper">
          <div class="create-eintrag__label">
            Betrag:
          </div>
          <div class="create-eintrag__data">
            {{buchung()!.data.betrag}}€
          </div>
        </div>
      </div>

      <div class="create-eintrag__datum-wrapper">
        <div class="create-eintrag__label">
          Datum:
        </div>
        <div class="create-eintrag__data">
          {{getDate(buchung()!.data.date).toLocaleDateString()}}
        </div>
      </div>
      <div class="create-eintrag__uhrzeit-wrapper">
        <div class="create-eintrag__label">
          Uhrzeit:
        </div>
        <div class="create-eintrag__data">
          {{buchung()!.data.time}}
        </div>
      </div>
      <div class="create-eintrag__datum-wrapper">
        <div class="create-eintrag__label-multi-select">
          geplante Ausgabe:
        </div>
        <input type="checkbox" [checked]="buchung()!.data.geplanteBuchung" disabled>
      </div>
      <div class="create-eintrag__uhrzeit-wrapper">
        <div class="create-eintrag__label">
          Kategorie
        </div>
        <div class="create-eintrag__data-kategorie" *ngIf="buchung()!.data.geplanteBuchung">
          {{ dataProvider.getBuchungsKategorieNameById(+(buchung()!.data.buchungsKategorie!)) }}
        </div>
        <div class="create-eintrag__data-kategorie" *ngIf="!buchung()!.data.geplanteBuchung">
          {{ dataProvider.getplannedBuchungsKategorieNameById(+(buchung()!.data.buchungsKategorie!)) }}
        </div>
      </div>
      <hr class="hr-details">
      <div class="create-eintrag__beschreibung-wrapper">
        <div class="create-eintrag__label create-eintrag__beschreibung-label">
          Beschreibung:
        </div>
        <div class="create-eintrag__data create-eintrag__beschreibung-data">
          {{ buchung()!.data.beschreibung !== "" ? buchung()!.data.beschreibung : '-- keine Beschreibung --' }}
        </div>
      </div>
    </div>
    <div class="create-eintrag__spacer-bottom">

    </div>

    <div class="create-eintrag__buttons-wrapper">
      <div class="create-eintrag__button" (click)="onDeleteButtonClicked()">
        löschen
      </div>
      <div class="create-eintrag__button" (click)="onEditClicked()">
        bearbeiten
      </div>
    </div>
  </div>

</div>



<ng-template #noEintrag>
  <div class="eintrag-details__no-eintrag">
    Error: No Eintrag provided!
  </div>
</ng-template>
