<div class="login" (keydown.enter)="onLoginClicked()">
  <div class="login__logo-wrapper">
    <img src="assets/favicon.jpg" class="login__logo">
  </div>
  <div class="login__error-message">
    {{errorMessage}}
  </div>
  <div class="login__data-input-wrapper">
    <div class="login__data-input-element-wrapper">
      <div class="login__data-input-label">
        Email-Adresse
      </div>
      <input type="email" [class.login__input-red]="isEmailRed"  [class.login__grayed-out]="isLoading" placeholder="email" class="login__data-input-element" [(ngModel)]="email" (ngModelChange)="onEmailChange()">
    </div>
    <div class="login__data-input-element-wrapper">
      <div class="login__data-input-label">
        Passwort
      </div>
      <div class="login__password-input-wrapper" [class.login__input-red]="isPwRed" *ngIf="isPasswordHidden; else visiblePassword">
        <input type="password" [class.login__grayed-out]="isLoading" placeholder="passwort" class="login__data-input-element-password" [(ngModel)]="pw" (ngModelChange)="onPwChange()">
        <img src="assets/eye-closed-light-gray.png" class="login__eye" (click)="onShowPasswordClicked()">
      </div>
      <ng-template #visiblePassword>
        <div class="login__password-input-wrapper" [class.login__input-red]="isPwRed">
          <input type="text" [class.login__grayed-out]="isLoading" placeholder="passwort" class="login__data-input-element-password" [(ngModel)]="pw" (ngModelChange)="onPwChange()">
          <img src="assets/eye-open-light-gray.png" class="login__eye" (click)="onHidePasswordClicked()">
        </div>
      </ng-template>
    </div>
  </div>
  <div class="login__buttons-wrapper" *ngIf="!isLoading; else loading">
    <div class="login__button" (click)="onLoginClicked()">
      Anmelden
    </div>
    <div class="login__register-text" (click)="onRegisterClicked()" [class.login__grayed-out]="isLoading">
      registrieren
    </div>
  </div>
  <div class="login__version">
    {{versionName}}
  </div>
</div>

<ng-template #loading>
  <img src="assets/loading-gif.gif" class="login__loading-gif">
  <div class="login__du-wirst-eingeloggt">
    du wirst eingeloggt
  </div>
</ng-template>
