<div class="login">
  <div class="login__logo-wrapper">
    <img src="assets/favicon.jpg" class="login__logo">
  </div>
  <div class="login__data-input-wrapper">
    <input type="email" placeholder="email" class="login__data-input-element">
    <input type="password" placeholder="passwort" class="login__data-input-element">
  </div>
  <div class="login__buttons-wrapper">
    <div class="login__button" (click)="onLoginClicked()">
      anmelden
    </div>
    <div class="login__register-text" (click)="onRegisterClicked()">
      registrieren
    </div>
  </div>
</div>
